<div class="row">
  <div class="col-lg-12">
    <ul class="breadcrumb">
      <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
      <li class="active">NAEDO</li>
    </ul>
  </div>
</div>