<div class="row row-ib-cols row-ib-cols-va-m cf">
	<div class="field">
		<div class="col col-6 pr-alpha">
			<label for="amount" class="field-label">Loan amount</label>
		</div><!-- .col -->
		<div class="col col-6">
			{{> forms/input-beta }}
		</div><!-- .col -->
	</div>
	<div class="field">
		<div class="col col-6 pr-alpha">
			<label for="fees" class="field-label">Interest and fees</label>
		</div><!-- .col -->
		<div class="col col-6">
			{{> forms/input-beta }}
		</div><!-- .col -->
	</div>
	<div class="field">
		<div class="col col-6 pr-alpha">
			<label for="repayment" class="field-label">Repayment Amount</label>
		</div><!-- .col -->
		<div class="col col-6">
			{{> forms/input-beta }}
		</div><!-- .col -->
	</div>
	<div class="field">
		<div class="col col-6 pr-alpha">
			<label for="date" class="field-label">Repayment Date</label>
		</div><!-- .col -->
		<div class="col col-6">
			{{> forms/input-beta }}
		</div><!-- .col -->
	</div>
</div><!-- .row -->