<div class="bgi-gr-tb-alpha bd-alpha-ltr brad-gamma mb-beta bxsh-down">
	<div class="row cf">
		<div class="col col-8 p-alpha">
			<p class="fs-zeta mt-none">How much money do you need?</p>
			{{> slider/slider}}
		</div><!-- .col -->
		<div class="col col-4">
			<div class="bgi-circle-grad ptb-beta pl-beta cf">
				<p>
					<strong class="ff-mega fs-kilo fc-beta tsh-ntrl-min">R 3,000</strong>
				</p>
			</div>
		</div><!-- .col -->
	</div><!-- .row -->
</div>

<div class="bgi-gr-tb-alpha bd-alpha-ltr brad-gamma mb-beta bxsh-down">
	<div class="row cf">
		<div class="col col-8 p-alpha">
			<p class="fs-zeta mt-none">How long do you need it for?</p>
			{{> slider/slider}}
		</div><!-- .col -->
		<div class="col col-4">
			<div class="bgi-circle-grad ptb-beta pl-beta cf">
				<p>
					<strong class="ff-mega fs-kilo fc-beta tsh-ntrl-min">16 days</strong>
				</p>
			</div>
		</div><!-- .col -->
	</div><!-- .row -->
</div>

<div class="alert">message here</div>