@{
  ViewBag.Title = "Campaign Manager - Email";
}
<div class="page-content">
  <!--<div class="row" ng-show="!isLoaded">
    <div class="col-lg-12">
      <div class="">
        <center><img src="~/assets/img/icon_loading.gif" /></center>
      </div>
    </div>
  </div>-->
  <div ng-show="isLoaded">
  </div>
  Email Campaign Manager
</div>

<!-- page end-->
@section Scripts {
}
