@{
    ViewBag.Title = "About";
    
    //TODO: fill in numbers and emails
}

<div class="container-outline">
	<div class="pos-r">
		<h1 class="hn-in-outline fc-beta">
			<strong>About Us</strong>
		</h1>
		<div class="cf">
			<p>
        Atlas Finance is no stranger to issuing loans.
        We’ve been offering, small, short-term loans to South Africans since 1994 through our over 172 branches, and have issued over 2 million loans to date.
      </p>
      <p>        
        We believe that YOU should choose how you would like to apply your loan. So we’re giving you the option of an Online Loan, a Loan-by-Phone, 
        or a traditional Personal Loan from one of our branches.
      </p>

      <p class="fw-b">If you’d like to get more information about any of our offerings, call us on xxx xxxx xxx and speak to a real person who understands your real needs.</p>

      <strong class="fc-beta">Loans Online</strong>
      <p>
        If you would like to complete your loan application process without leaving your computer, you're at the right place. You’re at the right place. Simply begin your application process by clicking <a href="">here</a>. 
        The entire process from start to finish is simple, paperless and done at your own pace. There are no supporting documents needed. 
      </p>
         
      <strong class="fc-beta">Loan-by-Phone</strong>
       <p>        
        If you’d like apply for your loan over the phone guided by a friendly consultant, call 0800 204 679. 
        In order to apply or a Loan-By-Phone, you will need to send us a copy of your ID, your latest payslip, and your latest three months bank statements via fax or email. 
      </p>

      <strong class="fc-beta">Personal Loan</strong>
      <p>
        If it’s face-to-face, personal service you’re after, find out which of our 172 branches is closest to you by <a href="http://www.atlasfinance.co.za/store-locator/">clicking here</a>.<br/>
        In order to apply or a personal loan at one of our branches , please take with you your ID, your latest payslip, your latest three months bank statements and your bank card.
      </p>

      <p><strong>Whichever way you choose to apply for your loan, you can be guaranteed that we’re giving it to you in a responsible way.</strong></p>

      <p>
        As a registered credit provider, we follow the laws prescribed by the National Credit Regulator (The NCR) in the National Credit Act of 2007.<br/>
        To find out more about the NCR <a href="http://ncr.org.za">click here</a>.
      </p>

      <p>
        We’re members of the MFSA (MicroFinance South Africa), who is the voice of the reputable micro-financier in South Africa, and we adhere to their code of conduct.
        To find out more about the MFSA <a href="http://mfsa.net">click here</a>
      </p>
		</div>
	</div>
</div>