@{
    ViewBag.Title = "Thank you for completing the survey";
}

<div class="container-outline">
  <div class="pos-r">
    <h1 class="hn-in-outline fc-beta">
      <strong>Atlas Online</strong>    
        
      <span class="ff-zeta fc-alpha-lt fs-kilo va-t">&#x203a;</span>
      <span class="fc-alpha">Site Survey</span>
    </h1>

    <p class="fs-zeta fw-b">
      Thank you for completing our site survey!<br />
      <a href="@Url.Action("Index", "Home")">Return Home</a>
    </p>
  </div>
</div>
