<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="mongodb-host" value="172.31.75.38" />
  <add key="mongodb-port" value="27017" />
  <add key="mongodb-user" value="fp-server" />
  <add key="mongodb-pass" value="dfumpu8gjr534ydhgui" />
  <add key="mongodb-params" value="readPreference=primary&amp;safe=true" />

  <add key="fp-rabbitmq-address" value="172.31.91.165" />
  <add key="fp-rabbitmq-virtualhost" value="fingerprint" />
  <add key="fp-rabbitmq-username" value="service" />
  <add key="fp-rabbitmq-password" value="lkLS2E4egTMV7FZrMUkl" />


  <add key="SeqEndpoint" value="http://172.31.75.41:5341" />    
</appSettings>