<?xml version="1.0" encoding="UTF-8"?>
<bindings>
  <basicHttpBinding>
    <binding name="httpBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="50000" maxReceivedMessageSize="50000" transferMode="Buffered">
      <security mode="None" />
    </binding>
  </basicHttpBinding>
  <netTcpBinding>
    <binding name="portSharingBinding" transferMode="Buffered" portSharingEnabled="true" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="10000000" maxConnections="200" maxReceivedMessageSize="10000000">
      <security mode="None" />
      <readerQuotas maxArrayLength="10000000" />
    </binding>
    <binding name="mexBinding" maxConnections="2" portSharingEnabled="true">
      <security mode="None" />
    </binding>
  </netTcpBinding>
</bindings>