<?xml version="1.0" encoding="UTF-8"?>
<services>
  <service behaviorConfiguration="stdBehaviour" name="Atlas.WCF.FPServer.WCF.Implementation.FPServer">
    <endpoint address="net.tcp://localhost:8200/FPAdmin" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="FPAdmin.NET" contract="Atlas.WCF.FPServer.Interface.IFPServer" />        
  </service>      
  <service behaviorConfiguration="stdBehaviour" name="Atlas.WCF.FPServer.WCF.Implementation.FPComms">
    <endpoint address="net.tcp://localhost:8200/FPComms" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="FPComms.NET" contract="Atlas.WCF.FPServer.Interface.IFPComms" />
    <endpoint address="http://localhost:8201/FPComms" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="FPComms.HTTP" contract="Atlas.WCF.FPServer.Interface.IFPComms" />        
  </service>
</services>