<?xml version="1.0" encoding="utf-8" ?>
<behaviors>
  <serviceBehaviors>
    <behavior name="mexBehaviour">
      <serviceMetadata />
      <serviceThrottling maxConcurrentCalls="2" maxConcurrentSessions="2" maxConcurrentInstances="2" />
      <serviceTimeouts transactionTimeout="00:08:00" />
    </behavior>
    <behavior name="stdBehaviour">
      <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
      <serviceTimeouts transactionTimeout="00:08:00" />
    </behavior>
    <!-- This only applies to SOAP- used to get SOAP metadata (SoapUI)- DO NOT use in production -->
    <behavior name="mexHttpGetBehaviour">
      <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9000/" />
    </behavior>
  </serviceBehaviors>
</behaviors>