<div class="steps mb-gamma cf ng-cloak" ng-show="!booting && UI.showSteps">
	<div class="steps-col" ng-class="{'steps-current': App.stepId == 1 }">
		<div class="circle-icon-container">
			<i class="icon icon-profile fs-zeta fc-ntrl-min"></i>
		</div>
		<p>Personal Details</p>
	</div>
	<div class="steps-col"  ng-class="{'steps-current': App.stepId == 2 }">
		<div class="circle-icon-container">
			<i class="icon icon-briefcase fs-zeta fc-ntrl-min"></i>
		</div>
		<p>Employer Details</p>
	</div>
	<div class="steps-col"  ng-class="{'steps-current': App.stepId == 3 }">
		<div class="circle-icon-container">
			<i class="icon icon-paper-pile fs-zeta fc-ntrl-min"></i>
		</div>
		<p>Income and expenses</p>
	</div>
	<div class="steps-col"  ng-class="{'steps-current': App.stepId == 4 }">
		<div class="circle-icon-container">
			<i class="icon icon-notes fs-zeta fc-ntrl-min"></i>
		</div>
		<p>Confirm and Verify</p>
	</div>
	<div class="steps-col" ng-class="{'steps-current': App.stepId == 6 }">
		<div class="circle-icon-container">
			<i class="icon icon-tick fs-zeta fc-ntrl-min"></i>
		</div>
		<p>Quote Acceptance</p>
	</div>
</div>
