<div class="mb-delta">
    <div class="row cf al product-features">
        <div class="col md-1-2">
            <div class="p-alpha">
                <div class="mblock cf">
                    <div class="mblock-alpha">
                        <i class="icon icon-watch-circle fs-giga fc-alpha-lt"></i>
                    </div>
                    <div class="mblock-beta">
                        <h6 class="fc-alpha-dk mb-none">Quick &amp; Simple</h6>
                        <small>Follow an easy step by step process that will let you know in minutes if your loan is approved. After approval, your loan is paid out immediately.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col md-1-2">
            <div class="p-alpha">
                <div class="mblock cf">
                    <div class="mblock-alpha">
                        <i class="icon icon-newspaper-circle fs-giga fc-alpha-lt"></i>
                    </div>
                    <div class="mblock-beta">
                        <h6 class="fc-alpha-dk mb-none">Secure &amp; confidential</h6>
                        <small>Any information that you share with us is protected through thawte security and unable to be accessed by third parties.</small>
					</div>
				</div>
			</div>
		</div>
        <div class="col md-1-2">
            <div class="p-alpha">
                <div class="mblock cf">
                    <div class="mblock-alpha">
                        <i class="icon icon-newspaper-circle fs-giga fc-alpha-lt"></i>
                    </div>
                    <div class="mblock-beta">
                        <h6 class="fc-alpha-dk mb-none">No Documents required</h6>
						<small>Our process is paperless, which means there’s no need for faxes, scanners or for having any extra documentation on hand.</small>
					</div>
				</div>
			</div>
		</div>
        <div class="col md-1-2">
            <div class="p-alpha">
                <div class="mblock cf">
                    <div class="mblock-alpha">
						<i class="icon icon-lock-circle fs-giga fc-alpha-lt"></i>
					</div>
					<div class="mblock-beta">
                        <h6 class="fc-alpha-dk mb-none">Rate us and win</h6>
                        <small>Tell us how you rate our site, and stand a chance to win a one of 20 pairs of Superga Takkies. To find out more, <a href="@Url.Action("SiteSurvey", "Home")">click here</a>.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>