<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- This is the base directory to which branch DBF files must be unzipped, will append yyMM and then a folder per branch -->
  <add key="BaseDir" value="d:/temp/loan" />
  <add key="GenerateDBFsNow" value="true" />
  <add key="" />
</appSettings>
