<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="rabbitmq-address" value="192.168.56.101"/>
  <add key="rabbitmq-virtualhost" value="avs"/>
  <add key="rabbitmq-username" value="service"/>
  <add key="rabbitmq-password" value="q1w2e3"/>
  <!--
  <add key="rabbitmq-address" value="172.31.91.165"/>
  <add key="rabbitmq-virtualhost" value="avs"/>
  <add key="rabbitmq-username" value="service"/>
  <add key="rabbitmq-password" value="lkLS2E4egTMV7FZrMUkl"/>-->

  <!-- Use 'NUCARD' or 'XDS' to over-ride -->
  <add key="OverrideAVSProvider" value="NUCARD" />
  
</appSettings>