<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="rabbitmq-server-address" value="172.31.91.165" />
    <add key="rabbitmq-sms-binding" value="sms" />
    <add key="rabbitmq-username" value="service" />
    <add key="rabbitmq-password" value="lkLS2E4egTMV7FZrMUkl" />
    <add key="ScorecardServerWCFAddress" value="net.tcp://172.31.75.38:8200/Scorecard" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
  </system.web>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="secureHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Atlas.Server.Implementation.Integration">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" contract="Atlas.Integration.Interface.IIntegration" />

        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.5.0" newVersion="3.6.5.0" />
      </dependentAssembly>
      
      <dependentAssembly>

        <assemblyIdentity name="DevExpress.Data.v16.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-16.1.7.0" newVersion="16.1.7.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="DevExpress.Xpo.v16.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-16.1.7.0" newVersion="16.1.7.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>