<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ScorecardServerWCFAddress" value="net.tcp://172.31.75.38:8200/Scorecard"/>

  <add key="smtpMailServer" value="mail.atcorp.co.za"/>

  <!-- Call centre sending -->
  <add key="ccFromAddress" value="documentskzn@atcorp.co.za"/>
  <add key="ccToAddress" value="info@powerloans.co.za"/>

  <!-- InDox sending -->
  <add key="docFromAddress" value="documentskzn@atcorp.co.za"/>
  <add key="docSendToAddress" value="powerloans@indox.co.za"/>

  <!-- POP3 server from power website -->
  <add key="popServer" value="mail.powerloans.co.za"/>
  <add key="popUser" value="webleads@powerloans.co.za"/>
  <add key="popPassword" value="Power1pass!!"/>
  <add key="popGetMax" value="10"/>

</appSettings>
