@{
  ViewBag.Title = "You do not permissions to access this";
}
<div class="page-content">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="alert alert-danger">
        <center>You do not have permissions to access this resource</center>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

