<div class="bgc-ntrl-min bgi-gr-tb-alpha plr-beta bdb-alpha-ltr cf">
	<p class="fs-beta fc-beta ff-alpha mb-none">Logged in</p>
	<strong class="fc-alpha-dk d-iblock mb-alpha">as Joe Smith</strong>
</div>

<div class="fs-zeta">
	<div class="plr-beta">
		<p><a class="fc-alpha-lt d-block" href="javascript:void(0);">Loan History</a></p>
	</div>
	<hr class="hr-dotted">
	<div class="plr-beta">
		<ul class="list-reset mb-beta lh-beta">
			<li><a class="fc-alpha-lt d-block" href="personal-details">Personal details</a></li>
			<li><a class="fc-alpha-lt d-block" href="bank-details">Bank details</a></li>
			<li><a class="fc-alpha-lt d-block" href="login-details">Login details</a></li>
		</ul>
	</div>
	<hr class="hr-dotted">
	<div class="plr-beta">
		<a href="/" class="btn btn-right d-block">Apply for new loan</a>
	</div>
	<hr class="hr-dotted">
	<div class="plr-beta">
		<a href="javascript:void(0);" class="btn btn-right d-block">Log out</a>
	</div>
</div>