<div class="steps mb-gamma cf">
	<div class="steps-col {{# page.step-1}}steps-current{{/ page.step-1}}">
		<div class="circle-icon-container">
			<i class="icon icon-profile fs-zeta fc-ntrl-min"></i>
		</div>
		<p>Personal Details</p>
	</div>
	<div class="steps-col {{# page.step-2}}steps-current{{/ page.step-2}}">
		<div class="circle-icon-container">
			<i class="icon icon-briefcase fs-zeta fc-ntrl-min"></i>
		</div>
		<p>Employer Details</p>
	</div>
	<div class="steps-col {{# page.step-3}}steps-current{{/ page.step-3}}">
		<div class="circle-icon-container">
			<i class="icon icon-paper-pile fs-zeta fc-ntrl-min"></i>
		</div>
		<p>Income and expenses</p>
	</div>
	<div class="steps-col {{# page.step-4}}steps-current{{/ page.step-4}}">
		<div class="circle-icon-container">
			<i class="icon icon-notes fs-zeta fc-ntrl-min"></i>
		</div>
		<p>Confirm and Verify</p>
	</div>
	<div class="steps-col {{# page.step-5}}steps-current{{/ page.step-5}}">
		<div class="circle-icon-container">
			<i class="icon icon-tick fs-zeta fc-ntrl-min"></i>
		</div>
		<p>Quote Acceptance</p>
	</div>
</div>