<div class="area-footer bgc-alpha-ltst bgi-shadow-circle bdb-beta-l pt-beta">
	<div class="wrap cf ac">
		<p class="mb-beta">Copyright &copy; 2013 Atlas Finance. All Rights Reserved
			{{# data.footer_links?to__root }}
				{{> footer_link_list }}
			{{/ data.footer_links?to__root }}
		</p>

		<div class="mb-gamma">
			<a class="mr-alpha d-iblock va-b" href="http://mfsa.net"><img src="{{urls.media}}/footer/microfinance-sa-logo.svg"></a>

			<a class="mr-alpha d-iblock va-b" href="http://ncr.org.za"><img src="{{urls.media}}/footer/national-credit-regulator-logo.svg"></a>

			<a class="mr-alpha d-iblock va-b" href="http://verisign.com"><img src="{{urls.media}}/footer/verisign-secured-logo.svg"></a>
		</div>

	</div>
</div><!-- .area-footer -->