<div class="mb-delta">
	<div class="row cf al">

		<div class="col col-6">
			<div class="bdb-alpha-ltr bdr-alpha-ltr p-alpha">
				<div class="mblock cf">
					<div class="mblock-alpha">
						<i class="icon icon-newspaper-circle fs-giga fc-alpha-lt"></i>
					</div>
					<div class="mblock-beta">
						<h6 class="fc-alpha-dk mb-none">Feature 01</h6>
						<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua.</small>
					</div>
				</div>
			</div>
		</div><!-- .col -->

		<div class="col col-6">
			<div class="bdb-alpha-ltr p-alpha">
				<div class="mblock cf">
					<div class="mblock-alpha">
						<i class="icon icon-watch-circle fs-giga fc-alpha-lt"></i>
					</div>
					<div class="mblock-beta">
						<h6 class="fc-alpha-dk mb-none">Feature 02</h6>
						<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua.</small>
					</div>
				</div>
			</div>
		</div><!-- .col -->

		<div class="col col-6">
			<div class="bdr-alpha-ltr p-alpha">
				<div class="mblock cf">
					<div class="mblock-alpha">
						<i class="icon icon-lock-circle fs-giga fc-alpha-lt"></i>
					</div>
					<div class="mblock-beta">
						<h6 class="fc-alpha-dk mb-none">Feature 03</h6>
						<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua.</small>
					</div>
				</div>
			</div>
		</div><!-- .col -->

		<div class="col col-6">
			<div class="p-alpha">
				<div class="mblock cf">
					<div class="mblock-alpha">
						<i class="icon icon-diary-circle fs-giga fc-alpha-lt"></i>
					</div>
					<div class="mblock-beta">
						<h6 class="fc-alpha-dk mb-none">Feature 04</h6>
						<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua.</small>
					</div>
				</div>
			</div>
		</div><!-- .col -->

	</div><!-- .row -->
</div>