<head>
	<meta charset="utf-8">
	<link rel="dns-prefetch" href="//ajax.googleapis.com" />

	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">
{{# page.description }}
	<meta name="description" content="{{ . }}">
{{/ page.description }}

	<meta name="msapplication-TileColor" content="#ffffff"/>
	<meta name="msapplication-TileImage" content="apple-touch-icon-144x144-precomposed.png"/>

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!--[if ! lte IE 7]><!-->
	{{# stylesheets.load }}
		style.css
	{{/ stylesheets.load }}
	<!--<![endif]-->

	<link rel="SHORTCUT ICON" href="img/favicon.ico" type="image/x-icon" />

	<!--[if lte IE 7]>
	<link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>