<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <!-- Altech NuPay Terminal cloud control interface- SOAP endpoint -->
  <add key="NPTerminalURL" value="http://196.14.89.40/WS_TermRC_UAT/WS_TermRC.asmx"/> 
  <!-- Atlas AVS endpoint -->
  <add key="AtlasAVSEndpoint" value="net.tcp://172.31.75.40:9000/BankVerificationServer" /> 

  <add key="rabbitmq-server-address" value="172.31.91.165" />
  <add key="rabbitmq-sms-binding" value="in_webservice" />
  <add key="rabbitmq-username" value="service" />
  <add key="rabbitmq-password" value="lkLS2E4egTMV7FZrMUkl" />

  <add key="SeqEndpoint" value="http://172.31.75.41:5341"/>  

  <!-- CompuScan intgrationX HTTP endpoint -->
  <add key="compuscan_intx_endpoint" value="https://webservices.compuscan.co.za/NormalSearchService" />
</appSettings>
