<?xml version="1.0" encoding="UTF-8"?>
<client>
  <endpoint address="http://196.14.89.40/WS_TermRC_UAT/WS_TermRC.asmx" 
    binding="basicHttpBinding" 
    bindingConfiguration="TermRCSoap" 
    contract="NPTerminalRC.TermRCSoap" 
    name="TermRCSoap"/>
  <endpoint address="https://www.nupaytsp.co.za/wsNaedo/wsNaedo.asmx" 
  binding="basicHttpBinding" bindingConfiguration="wsNaedoSoap" 
    contract="NAEDOTSPNupayReportService.wsNaedoSoap" 
    name="wsNaedoSoap"/>

  <endpoint address="net.tcp://172.31.75.38:9000/BankVerificationServer"
    binding="netTcpBinding" 
    bindingConfiguration="BankVerificationServer.NET"
    contract="AVSService.IVerificationServer" 
    name="BankVerificationServer.NET" />

  <endpoint address="net.tcp://172.31.75.40:8200/OrchestrationService" 
    binding="netTcpBinding" 
    bindingConfiguration="OrchestrationService.NET" 
    contract="OrchestrationServer.IOrchestrationService" 
    name="OrchestrationService.NET" />

  <endpoint address="https://www.nupaytsp.co.za/wsNaedo/wsNaedo.asmx"
    binding="basicHttpBinding" 
    bindingConfiguration="wsNaedoSoap1"
    contract="AltechNAEDOServer.wsNaedoSoap" 
    name="wsNaedoSoap" />

  <endpoint address="https://www.nupay.co.za/WsNupayTransactions/NupayTransactionsService.asmx"
    binding="basicHttpBinding" 
    bindingConfiguration="NuPayTransactionsServiceSoap"
    contract="AltechAEDOServer.NuPayTransactionsServiceSoap" 
    name="NuPayTransactionsServiceSoap" />

  <endpoint address="https://webservices.compuscan.co.za/NormalSearchService"
    binding="basicHttpBinding" 
    bindingConfiguration="NormalSearchServicePortBinding" 
    contract="CSIntXService.NormalSearchService" 
    name="NormalSearchServicePort" />
    
</client>