<?xml version="1.0"?>
<connectionStrings>
  <add name="AtlasMain" connectionString="Server=172.31.91.165;Database=atlas_core;User Id=postgres;Password=s1DT81ChqlVkPZMlRO8b" />
  <add name="ass" connectionString="Server=172.31.91.165;Database=ass;User Id=postgres;Password=s1DT81ChqlVkPZMlRO8b" />
</connectionStrings>