<?xml version="1.0" encoding="UTF-8"?>
<services>     
  <service behaviorConfiguration="stdBehaviour" name="AtlasServer.WCF.Implementation.NPTerminalRC">
    <endpoint address="net.tcp://localhost:8200/NPTerminalRC" 
      binding="netTcpBinding" 
      bindingConfiguration="portSharingBinding" 
      name="NPTerminalRC.NET" 
      contract="AtlasServer.WCF.Interface.INPTerminalRC"/>
      
    <endpoint address="http://localhost:8201/NPTerminalRC" 
      binding="basicHttpBinding" 
      bindingConfiguration="httpBinding" 
      name="NPTerminalRC.HTTP" 
      contract="AtlasServer.WCF.Interface.INPTerminalRC"/>
  </service>

  <service behaviorConfiguration="debug" name="AtlasServer.WCF.Implementation.ASSServer">
    <endpoint address="net.tcp://localhost:8200/ASS" 
      binding="netTcpBinding" 
      bindingConfiguration="portSharingBinding" 
      name="ASS.NET" 
      contract="AtlasServer.WCF.Interface.IASSServer"/>
    <endpoint address="http://localhost:8201/ASS" 
      binding="basicHttpBinding" 
      bindingConfiguration="httpBinding" 
      name="ASS.HTTP" 
      contract="AtlasServer.WCF.Interface.IASSServer"/>
  </service>

  <service behaviorConfiguration="stdBehaviour" name="AtlasServer.WCF.Implementation.AVS">
    <endpoint address="net.tcp://localhost:8200/AVS" 
      binding="netTcpBinding" 
      bindingConfiguration="portSharingBinding" 
      name="AVS.NET" 
      contract="AtlasServer.WCF.Interface.IAVS"/>
    <endpoint address="http://localhost:8201/AVS" 
      binding="basicHttpBinding" 
      bindingConfiguration="httpBinding" 
      name="AVS.HTTP" 
      contract="AtlasServer.WCF.Interface.IAVS"/>
  </service> 

  <service behaviorConfiguration="stdBehaviour" name="Atlas.Bank.Verification.Server.WCF.Implemenation.VerificationServer">
    <endpoint address="net.tcp://localhost:8200/BankVerificationServer" 
      binding="netTcpBinding" 
      bindingConfiguration="portSharingBinding" 
      name="Verification.NET" 
      contract="Atlas.Bank.Verification.Server.WCF.Interface.IVerificationServer" />
    <endpoint address="http://localhost:8201/BankVerificationServer" 
      binding="basicHttpBinding" 
      bindingConfiguration="httpBinding" 
      name="Verification.HTTP" 
      contract="Atlas.Bank.Verification.Server.WCF.Interface.IVerificationServer" />        
  </service> 

  <service behaviorConfiguration="stdBehaviour" name="Atlas.WCF.Implementation.VerificationServer">
    <endpoint address="net.tcp://localhost:8200/BankVerificationServer" 
      binding="netTcpBinding" 
      bindingConfiguration="portSharingBinding" 
      name="Verification.NET" 
      contract="Atlas.WCF.Interface.IVerificationServer" />
    <endpoint address="http://localhost:8201/BankVerificationServer" 
      binding="basicHttpBinding" 
      bindingConfiguration="httpBinding" 
      name="Verification.HTTP" 
      contract="Atlas.WCF.Interface.IVerificationServer" />        
  </service>    

  <service behaviorConfiguration="stdBehaviour" name="Atlas.WCF.Implementation.AssThirdParty">
    <endpoint address="net.tcp://localhost:8200/AssThirdParty" 
      binding="netTcpBinding" 
      bindingConfiguration="portSharingBinding" 
      name="AssThirdParty.NET" 
      contract="Atlas.WCF.Interface.IAssThirdParty" />        
  </service>

</services>