<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />  
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net40" />
  <package id="fastJSON" version="2.1.18" targetFramework="net40" />
  <package id="Npgsql" version="2.2.7" targetFramework="net40" />
  <package id="Quartz" version="2.3.3" targetFramework="net40" />
  <package id="Serilog" version="1.5.14" targetFramework="net40" />
  <package id="Topshelf" version="3.3.1" targetFramework="net40" />
  <package id="Topshelf.Serilog" version="3.3.1" targetFramework="net40" />
</packages>