<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings configSource="appSettings.config" />

  <connectionStrings configSource="connectionStrings.config" />
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <!-- Remove on deployment- used to get MEX only for development -->
        <behavior name="mexBehaviour">
          <serviceMetadata />
          <serviceThrottling maxConcurrentCalls="2" maxConcurrentSessions="2" maxConcurrentInstances="2" />
          <serviceTimeouts transactionTimeout="00:00:45" />
        </behavior>
        <behavior name="stdBehaviour">
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
          <serviceTimeouts transactionTimeout="00:03:00" />
        </behavior>
        <!-- This only applies to SOAP- used to get SOAP metadata (SoapUI)- DO NOT use in production -->
        <behavior name="mexHttpGetBehaviour">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9001/" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="50000" maxReceivedMessageSize="50000" transferMode="Buffered">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="portSharingBinding" transferMode="Buffered" portSharingEnabled="true" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="10000000" maxConnections="200" maxReceivedMessageSize="10000000">
          <security mode="None" />
          <readerQuotas maxArrayLength="10000000" />
        </binding>
        <binding name="mexBinding" maxConnections="2" portSharingEnabled="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <!-- Change for deployment      VVVVVVVVVVVV Change to: "stdBehaviour" -->
      <service behaviorConfiguration="mexBehaviour" name="Atlas.WCF.FPServer.WCF.Implementation.FPServer">
        <endpoint address="net.tcp://localhost:8200/FPAdmin" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="FPAdmin.NET" contract="Atlas.WCF.FPServer.Interface.IFPServer" />
        <!-- VVVVVVVVVVVVVVV Remove from deployment VVVVVVVVVVVVV -->
        <endpoint address="net.tcp://localhost:8202/FPAdmin/mex" binding="mexTcpBinding" name="FPAdmin.NET.mex" contract="IMetadataExchange" />
      </service>
      <!-- Remove for deployment      VVVVVVVVVVVV Change to: "stdBehaviour" -->
      <service behaviorConfiguration="mexHttpGetBehaviour" name="Atlas.WCF.FPServer.WCF.Implementation.FPComms">
        <endpoint address="net.tcp://localhost:8200/FPComms" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="FPComms.NET" contract="Atlas.WCF.FPServer.Interface.IFPComms" />
        <endpoint address="http://localhost:8201/FPComms" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="FPComms.HTTP" contract="Atlas.WCF.FPServer.Interface.IFPComms" />
        <!-- VVVVVVVVVVVVVVV Remove from deployment VVVVVVVVVVVVV -->
        <endpoint address="net.tcp://localhost:8203/FPComms/mex" binding="mexTcpBinding" name="FPComms.NET.mex" contract="IMetadataExchange" />
      </service>
    </services>
    
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>         
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.5.0" newVersion="3.6.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.7.0" newVersion="3.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpo.v16.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.7.0" newVersion="16.1.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
