@{
  ViewBag.Title = "Loads";
}

Incoming
<div ng-controller="LeadsController">
  <h3>{{leadsCount}}</h3>
</div>
@section Scripts {
<script src="~/app/controllers/NotificationController.js"></script>
<script src="~/app/controllers/LeadsController.js"></script>
}