<?xml version="1.0" encoding="UTF-8"?>
<bindings>    
  <basicHttpBinding>
    <binding name="httpBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="1000000" maxReceivedMessageSize="1000000" transferMode="Buffered">
      <security mode="None" />
    </binding>
  </basicHttpBinding>
  <netTcpBinding>
    <binding name="portSharingBinding" maxBufferSize="1000000" maxConnections="200" maxReceivedMessageSize="1000000" portSharingEnabled="true">
      <security mode="None" />
    </binding>        
  </netTcpBinding>
</bindings>