<?xml version="1.0" encoding="UTF-8"?>
<services>    
  <service behaviorConfiguration="stdBehaviour" name="AtlasServer.WCF.Implementation.NuCardAdminServer">
    <endpoint address="net.tcp://localhost:8200/NuCardAdmin" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NuCardAdmin.NET" contract="Atlas.NuCard.WCF.Interface.INuCardAdminServer" />
    <endpoint address="http://localhost:8201/NuCardAdmin" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="NuCardAdmin.HTTP" contract="Atlas.NuCard.WCF.Interface.INuCardAdminServer" />		
  </service>
  <service behaviorConfiguration="stdBehaviour" name="AtlasServer.WCF.Implementation.NuCardStockServer">
    <endpoint address="net.tcp://localhost:8200/NuCardStock" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NuCardStock.NET" contract="Atlas.NuCard.WCF.Interface.INuCardStockServer" />
    <endpoint address="http://localhost:8201/NuCardStock" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="NuCardStock.HTTP" contract="Atlas.NuCard.WCF.Interface.INuCardStockServer" />
  </service>
</services>    	