<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--
  netsh http add urlacl url=http://+:8192/TCC user="Local Service"
  netsh http add urlacl url=http://+:8192/AEDOAdmin user="Local Service"
  netsh http add urlacl url=http://+:8192/NAEDOAdmin user="Local Service"  
  netsh http add urlacl url=http://+:8192/Scorecard user="Local Service"
  netsh http add urlacl url=http://+:8201/FPComms user="Local Service"  
  -->
  <system.serviceModel>
    <services>
      <service name="Atlas.Server.Training.TermRCSoap_Impl" behaviorConfiguration="returnFaults">
        <endpoint address="http://localhost:8201/TCC" binding="basicHttpBinding" contract="TermRCSoap" />
      </service>
      
      <service name="Atlas.Server.Training.AEDOAdmin_Impl" behaviorConfiguration="returnFaults">
        <endpoint address="http://localhost:8201/AEDOAdmin" binding="basicHttpBinding" contract="NuPayTransactionsServiceSoap" />
      </service>
      
      <service name="Atlas.Server.Training.NAEDOAdmin_Impl" behaviorConfiguration="returnFaults">
        <endpoint address="http://localhost:8201/NAEDOAdmin" binding="basicHttpBinding" contract="wsNaedoSoap" />
      </service>
      
      <service name="Atlas.Server.Training.BankVerification_Impl" behaviorConfiguration="returnFaults">
        <endpoint address="net.tcp://localhost:8200/BankVerification" binding="netTcpBinding" bindingConfiguration="portSharingBinding" contract="Atlas.WCF.Interface.IVerificationServer" />
      </service>
      
      <service name="Atlas.Server.Training.FPComms" behaviorConfiguration="returnFaults">
        <endpoint address="http://localhost:8201/FPComms" binding="basicHttpBinding" contract="Atlas.WCF.FPServer.Interface.IFPComms" />
      </service>
  
     <service name="Atlas.Server.Training.ScorecardServer" behaviorConfiguration="returnFaults">
        <endpoint address="http://localhost:8201/Scorecard" binding="basicHttpBinding" name="Score.HTTP" contract="Atlas.ThirdParty.CS.WCF.Interface.IScorecardServer" />	  
      </service>      
   
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="returnFaults">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="portSharingBinding" transferMode="Buffered" portSharingEnabled="true" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="10000000" maxConnections="200" maxReceivedMessageSize="10000000">
          <security mode="None" />
          <readerQuotas maxArrayLength="10000000" />
        </binding>
        
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>

  <appSettings>
    <!-- Temp directory -->
    <add key="TempDir" value="D:\temp\" />
    <!-- Seq logging server endpoint-->    
    <add key="SeqEndpoint" value="http://172.31.75.41:5341" />
    <!-- Specify the NuCard XML-RPC server address- must end with slash -->
    <add key="XMLRPCAddress" value="http://127.0.0.1:8000/" />
    
    <!-- Specify services to be restarted when PostgreSQL is restarted -->
    <add key="service1" value="Atlas_Basic_WCF_Server_V1.5" />
    <add key="service2" value="Atlas_NuCard_WCF_Server_V1_1" />
    <add key="service3" value="CreditEngine" />
    
    <!-- Specify if we must try copy Atlas core database now -->
    <add key="CopyAtlasCoreDbNow" value="false" />
    
    <!-- Specify if we must copy the ass branch schemas now -->    
    <add key="CopyAssDbNow" value="true" />
    
    <!-- Specify only dump a single branch with ass data copy -->
    <add key="CopyAssDbNowOnlySingle" value="true" />
    
    <!-- Specify if try copu mongo - fingerprint and id photos -->
    <add key="CopyMongoNow" value="false" />
    
    <add key="PSQLSourceHost" value="10.0.0.244" />    
    <add key="PSQLSourceUser" value="postgres" />
    <add key="PSQLSourcePass" value="s1DT81ChqlVkPZMlRO8b" />
    
    <add key="PSQLDestHost" value="10.0.0.245" />    
    <add key="PSQLDestUser" value="postgres" />
    <add key="PSQLDestPass" value="Fruity123!" />
    
    <add key="MongoDestDB" value="mongodb://127.0.0.1:27017/?safe=true" />
    <add key="MongoSourceDB" value="mongodb://10.0.0.249:27017/?readPreference=secondaryPreferred&amp;connectTimeoutMS=60000" />

    <add key="PSQLBase" value="C:/ActiveAccess/PostgreSQL" />
  </appSettings>

  <connectionStrings configSource="connectionStrings.config" />

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
