<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=172.31.91.167;Database=atlas_core;User Id=postgres;Password=s1DT81ChqlVkPZMlRO8b" />
    <add name="AssConnection" connectionString="Server=172.31.91.165;Port=5432;Database=ass;User Id=postgres;Password=s1DT81ChqlVkPZMlRO8b" />
    <!--<add name="DefaultConnection" connectionString="XpoProvider=Postgres;Server=192.168.56.101;Database=Atlas;User Id=postgres;Password=q1w2e3" />-->
    <!--<add name="AssConnection" connectionString="Server=localhost;Port=5432;Database=ass;User Id=postgres;Password=q1w2e3" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
