<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.3.0" newVersion="3.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Magnum" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0" newVersion="2.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings configSource="ConnectionStrings.config" />
  <appSettings>
    <add key="rabbitmq-address" value="192.168.56.101" />
    <add key="rabbitmq-binding" value="falcon_service_in" />
    <add key="rabbitmq-username" value="service" />
    <add key="rabbitmq-password" value="q1w2e3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="XSockets.PluginCatalog" value="" />
    <add key="XSockets.PluginFilter" value="*.dll,*.exe" />
    <add key="Atlas.Domain.Construct" value="true" />
    <!-- Redis -->
    <add key="redis.host" value="192.168.56.101" />
    <add key="Account-Cache-Update" value="5" />
     <add key="Target-for-month" value="68660900" />    
     <add key="monthlyTargetsUpdate" value="false" />
    <add key="cidistributionlist" value="lee@atcorp.co.za" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\FalconService.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://172.31.75.40:8200/CreditServer" binding="netTcpBinding" bindingConfiguration="CreditServer.NET" contract="CreditService.ICreditServer" name="CreditServer.NET" />
      <endpoint address="http://172.31.75.40:8201/CreditServer" binding="basicHttpBinding" bindingConfiguration="CreditServer.HTTP" contract="CreditService.ICreditServer" name="CreditServer.HTTP" />
      <endpoint address="net.tcp://172.41.75.40:8200/OrchestrationService" binding="netTcpBinding" bindingConfiguration="OrchestrationService.NET" contract="OrchestrationService.IOrchestrationService" name="OrchestrationService.NET" />
      <endpoint address="http://172.31.75.40:8201/OrchestrationService" binding="basicHttpBinding" bindingConfiguration="OrchestrationService.HTTP" contract="OrchestrationService.IOrchestrationService" name="OrchestrationService.HTTP" />
      <endpoint address="net.tcp://172.31.75.38:8200/AssThirdParty" binding="netTcpBinding" bindingConfiguration="AssThirdParty.NET" contract="AssIntService.IAssThirdParty" name="AssInt.NET" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
          <serviceTimeouts transactionTimeout="00:08:00" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!-- This only applies to SOAP- used to get SOAP metadata (SoapUI)- DO NOT use in production http://localhost:9000/ -->
        <behavior name="mexHttpGetBehaviour">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9000/ " />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <security mode="None" />
        </binding>
        <binding name="CreditServer.HTTP" />
        <binding name="OrchestrationService.HTTP" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="portSharingBinding" maxBufferSize="2147483647" maxConnections="200" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <security mode="None" />
        </binding>
        <binding name="mexBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="2" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <security mode="None" />
        </binding>
        <binding name="CreditServer.NET">
          <security mode="None" />
        </binding>
        <binding name="OrchestrationService.NET">
          <security mode="None" />
        </binding>
        <binding name="AssThirdParty.NET">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehaviour" name="Falcon.Service.WCF.Implementation.FalconService">
        <endpoint address="net.tcp://localhost:8200/FalconService" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="FalconService.NET" contract="Falcon.Service.WCF.Interface.IFalconService" />
        <endpoint address="http://localhost:8201/FalconService" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="FalconService.HTTP" contract="Falcon.Service.WCF.Interface.IFalconService" />
        <endpoint address="net.tcp://localhost:8200/FalconService/mex" binding="netTcpBinding" bindingConfiguration="mexBinding" name="FalconService.NET.MEX" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
