<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="XpoProvider=Postgres;Server=172.31.91.165;Database=atlas_core;User Id=postgres;Password=s1DT81ChqlVkPZMlRO8b" />-->
  <!--<add name="AssConnection" connectionString="Server=172.31.91.165;Port=5432;Database=ass;User Id=postgres;Password=s1DT81ChqlVkPZMlRO8b" />-->
  <add name="DefaultConnection" connectionString="XpoProvider=Postgres;Server=192.168.56.101;Database=Atlas;User Id=postgres;Password=q1w2e3" />
  <add name="AssConnection" connectionString="Server=localhost;Port=5432;Database=ass;User Id=postgres;Password=q1w2e3" />
</connectionStrings>
