Dear @ViewBag.Client.FullName,<br />
<br />
You are recieving this email because you requested your Atlas Online password to be reset.<br />
<br />
If you did not request this you may safely ignore this email. Otherwise, please click on the following link to reset your pasword.<br />
<br />
<a href="@ViewBag.TokenUrl">@ViewBag.TokenUrl</a><br />
<br />
Kind Regards,<br />
Atlas Online