<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="MainDirectory" value="C:\Atlas\ASS\DailyUploads\" />
    <add key="Upload_GL_Transactions" value="Atlas_AssEOD" />
    <add key="Intervals" value="10000" />
    <add key="applID" value="AS" />
    <add key="BranchNr" value="ATLINC" />
    <add key="programName" value="AS1001" />
    <add key="accpacVersion" value="56A" />
    <add key="userName" value="ADMIN" />
    <add key="psw" value="MINDA1979" />
    <add key="companyDatabase" value="ATLINC" />
  </appSettings>

  <connectionStrings>
    <add name="cnAccpac" connectionString="data source=169.254.0.2;User ID=sa;Password=Fruity123;Initial Catalog=ATLINC;MultipleActiveResultSets=True" />
    <add name="cnIntegration" connectionString="data source=169.254.0.2;User ID=sa;Password=Fruity123;Initial Catalog=AtlasBusinessRules;MultipleActiveResultSets=True" />
  </connectionStrings>

 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
