<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Green" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Blue" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
        <backColor value="White" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Yellow, HighIntensity" />
        <backColor value="Red" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/ThirdPartyService.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      <!--<appender-ref ref="ConsoleAppender" />-->
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.3.0" newVersion="3.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Magnum" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0" newVersion="2.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.150.0" newVersion="3.2.150.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="AtlasMain" connectionString="XpoProvider=Postgres;Server=192.168.56.101;Database=Atlas;User Id=postgres;Password=q1w2e3" />
  </connectionStrings>
  <appSettings>
    <add key="rabbitmq-address" value="192.168.56.101" />
    <add key="rabbitmq-binding" value="con_thirdparty_in" />
    <!--<add key="rabbitmq-username" value="service"/>
    <add key="rabbitmq-password" value="lkLS2E4egTMV7FZrMUkl"/>-->
    <!-- Redis -->
    <add key="redis.host" value="192.168.56.101" />
    <add key="naedo.maximum.bulk.insert" value="500" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8200/OrchestrationService" binding="netTcpBinding" bindingConfiguration="OrchestrationService.NET" contract="OrchestrationService.IOrchestrationService" name="OrchestrationService.NET" />
      <endpoint address="http://localhost:8201/OrchestrationService" binding="basicHttpBinding" bindingConfiguration="OrchestrationService.HTTP" contract="OrchestrationService.IOrchestrationService" name="OrchestrationService.HTTP" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
          <serviceTimeouts transactionTimeout="00:08:00" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!-- This only applies to SOAP- used to get SOAP metadata (SoapUI)- DO NOT use in production http://localhost:9000/ -->
        <behavior name="mexHttpGetBehaviour">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9000/ " />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <security mode="None" />
        </binding>
        <binding name="OrchestrationService.HTTP" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="portSharingBinding" maxBufferSize="2147483647" maxConnections="200" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <security mode="None" />
        </binding>
        <binding name="mexBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="2" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <security mode="None" />
        </binding>
        <binding name="OrchestrationService.NET">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehaviour" name="Atlas.ThirdParty.Service.Implementation.ThirdPartyService">
        <endpoint address="net.tcp://localhost:8200/ThirdPartyService" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="ThirdPartyService.NET" contract="Atlas.ThirdParty.Service.Interface.IThirdPartyService" />
        <endpoint address="http://localhost:8201/ThirdPartyService" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="ThirdPartyService.HTTP" contract="Atlas.ThirdParty.Service.Interface.IThirdPartyService" />
        <endpoint address="net.tcp://localhost:8200/ThirdPartyService/mex" binding="netTcpBinding" bindingConfiguration="mexBinding" name="ThirdPartyService.NET.MEX" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
