<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Create final files (true), or test files (false)? -->
  <add key="CreateFinalFiles" value="false"/>
  
  <!-- SACCRA SRN-->
  <add key="SRN" value="AT0001"/>
  
  <!-- PGP public key directory -->
  <add key="PgpPublicKeyFolder" value="D:\Dev\Clients\AL\Github\Services\Atlas.Evolution\Certificates\"/>
  
  <!-- SFTP server -->
  <add key="SFTP_Host" value="hub.sacrra.org.za"/>
  <add key="SFTP_UserName" value="AtlasFin"/>
  <add key="SFTP_Password" value="blahd3BlahFisdhPaste!"/>
  <add key="SFTP_RootPath" value="/AT0001"/>

  <!-- Mongodb connection -->
  <add key="mongodb-host" value="172.31.75.38" />
  <add key="mongodb-port" value="27017" />
  <add key="mongodb-user" value="evolution-server" />
  <add key="mongodb-pass" value="grt6y65hiuoodfsetbv" />
  <add key="mongodb-db" value="evolution" />
  
</appSettings>