<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- RabbitMQ settings -->
  <add key="rabbitmq.host" value="172.31.91.165"/>
  <add key="rabbitmq.vhost" value="notification"/>
  <add key="rabbitmq.username" value="service"/>
  <add key="rabbitmq.password" value="lkLS2E4egTMV7FZrMUkl"/>

  <!-- SMS portal settings -->
  <add key="sms.smsportal.username" value ="Atlas"/>
  <add key="sms.smsportal.password" value ="atlas123"/>

  <!-- SMTP server settings -->
  <add key="SmtpServerAddress" value="mail.atcorp.co.za"/>

</appSettings>