<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="mongodb-host" value="172.31.75.38" />
    <add key="mongodb-port" value="27017" />
    <add key="mongodb-user" value="fp-admin" />
    <add key="mongodb-pass" value="fgkb765ioptgkefa4in" />
    <add key="mongodb-db" value="fingerprint" />
    <add key="mongodb-params" value="connectTimeoutMS=5000" />

    <add key="fp-rabbitmq-address" value="172.31.91.165" />
    <add key="fp-rabbitmq-virtualhost" value="fingerprint" />
    <add key="fp-rabbitmq-username" value="service" />
    <add key="fp-rabbitmq-password" value="lkLS2E4egTMV7FZrMUkl" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>