<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="SeqEndpoint" value="http://172.31.75.41:5341" />

  <!-- CompuScan intgrationX old HTTP post endpoint -->
  <add key="compuscan_intx_endpoint_old" value="http://cc.compuscan.co.za/servlet/CSIntegrationX" />
  
  <!-- CompuScan intgrationX HTTPS SOAP endpoint -->
  <add key="compuscan_intx_endpoint" value="https://webservices.compuscan.co.za/NormalSearchService" />
   
</appSettings>