<?xml version="1.0" encoding="UTF-8"?>
<behaviors>
  <serviceBehaviors>        
    <behavior name="stdBehaviour">
      <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
      <serviceTimeouts transactionTimeout="00:08:00" />
    </behavior>        
  </serviceBehaviors>
</behaviors>