<?xml version="1.0" encoding="UTF-8"?>
<client>
  <!-- SOAP endpoint -->
  <endpoint address="https://webservices.compuscan.co.za/NormalSearchService"
            binding="basicHttpBinding"
            bindingConfiguration="NormalSearchServicePortBinding"
            contract="NormalSearchServiceClient.NormalSearchService"
            name="NormalSearchServicePort" />
</client>