<?xml version="1.0" encoding="UTF-8"?>
<services>  
<service name="Atlas.ThirdParty.CS.WCF.Implementation.ScorecardServer">
  <endpoint address="http://172.31.75.38:8201/Scorecard" 
    binding="basicHttpBinding" 
    bindingConfiguration="httpBinding" 
    name="Score.HTTP" 
    contract="Atlas.ThirdParty.CS.WCF.Interface.IScorecardServer" />

  <endpoint address="net.tcp://172.31.75.38:8200/Scorecard" 
    binding="netTcpBinding" 
    bindingConfiguration="portSharingBinding" 
    name="Score.NetTcp" 
    contract="Atlas.ThirdParty.CS.WCF.Interface.IScorecardServer" />

  </service> 	  
</services>