<div ng-controller="AccountApplicationCreationClientDetails">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <h4 class="form-section">Client Information</h4>
        </div>
        </div>
      <div class="row">
        <div class="col-md-1">
          <label>Title</label>
          <select class="form-control input-xsmall" tabindex="1">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
            <option>Option 5</option>
          </select>
        </div>
      </div>
      <div class="row">
        
        <div class="col-md-2">
          <label>First</label>
          <input type="text" class="form-control" placeholder="" tabindex="2">
        </div>
        <div class="col-md-2">
          <label>Middle</label>
          <input type="text" class="form-control" placeholder="" tabindex="3">
        </div>
        <div class="col-md-2">
          <label>Last</label>
          <input type="text" class="form-control" placeholder="" tabindex="4">
        </div>
      </div>
    <br/>
      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-2">
            <label>ID Number</label>
            <input type="text" class="form-control" placeholder="" tabindex="4">
          </div>
          <div class="col-md-2">
            <label>BirthDate</label>
            <input class="form-control" id="mask_date2" type="text">
          </div>
        </div>
      <br/>
      <div class="row">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder=".col-md-3">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder=".col-md-3">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder=".col-md-2">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder=".col-md-2">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder=".col-md-2">
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder=".col-md-3">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder=".col-md-3">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder=".col-md-3">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder=".col-md-2">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder=".col-md-2">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder=".col-md-2">
        </div>
      </div><br />
    </div>
  </div>
  </div>
