<section class="panel">
  <section class="panel-body">
    <div class="table-responsive">
      <table ng-table="documentParams" class="table">
        <tr ng-repeat="document in $data" style="cursor: pointer;">
          <td data-title="'Document Id'">
            <center> {{document.DocumentId}}</center>
          </td>
          <td data-title="'Create Date'" sortable="'CreateDate'">
            <center> {{document.CreateDate | date:'yyyy-MM-dd HH:mm'}}</center>
          </td>
        </tr>
      </table>
    </div>
  </section>
</section>
