<div ng-controller="AccountPayoutController">
  <section class="panel">
    <section class="panel-body">
      <fieldset>
        <div class="table-responsive">
          <table ng-table="payoutParams" class="table">
            <tr ng-repeat="payout in $data" ng-click="changeSelection('poRowSelected',payout,'payouts')" ng-class="{selected: payout.$selected}" style="cursor: pointer;">
              <td data-title="'Payout No.'" filter="{ 'PayoutId': 'text' }" sortable="'PayoutId'">
                <center> {{payout.PayoutId}}</center>
              </td>
              <td data-title="'Action Date'" filter="{ 'ActionDate': 'text' }" sortable="'ActionDate'">
                <center> {{payout.ActionDate | date:'yyyy-MM-dd'}}</center>
              </td>
              <td data-title="'Status'" filter="{ 'PayoutStatus': 'text' }" sortable="'PayoutStatus'">
                <center><label class="curved-border" ng-class="payout.PayoutStatusColor"> {{payout.PayoutStatus}}</label></center>
              </td>
              <td data-title="'Bank'" header-class="hidden-sm hidden-xs" class="hidden-sm hidden-xs">
                <center> {{payout.Bank}}</center>
              </td>
              <td data-title="'Bank Account No.'" filter="{ 'BankAccountNo': 'text' }" sortable="'BankAccountNo'">
                <center> {{payout.BankAccountNo}}</center>
              </td>
              <td data-title="'Bank Account Name'" filter="{ 'BankAccountName': 'text' }" sortable="'BankAccountName'">
                <center> {{payout.BankAccountName}}</center>
              </td>
              <td data-title="'Amount'" header-class="hidden-sm hidden-xs" class="hidden-sm hidden-xs">
                <center> {{payout.Amount | currency}}</center>
              </td>
              <td data-title="'Result'" header-class="hidden-sm hidden-xs" class="hidden-sm hidden-xs" sortable="'Result'">
                <center>{{ payout.Result }} </center>
              </td>
              <td data-title="'CreateDate'" header-class="hidden-sm hidden-xs" class="hidden-sm hidden-xs" sortable="'CreateDate'">
                <center> {{payout.CreateDate | date:'yyyy-MM-dd HH:mm'}}</center>
              </td>
            </tr>
          </table>
        </div>
        <div class="form">
          <div class="form-actions right">
            <button type="submit" class="btn yellow" ng-disabled="!poRowSelected.$selected || poRowSelected.PayoutStatusId != 3" ng-click="poDialgueHold = false;" data-toggle="modal" href="#PayoutDialogue">Release Hold</button>
            <button type="submit" class="btn red" ng-disabled="!poRowSelected.$selected || poRowSelected.PayoutStatusId != 1 " ng-click="poDialgueHold = true;" data-toggle="modal" href="#PayoutDialogue">Hold Payment</button>
          </div>
        </div>
      </fieldset>
    </section>
  </section>

  <!-- Payout Modals -->
  <div class="modal fade" id="PayoutDialogue" tabindex="-1" role="basic" aria-hidden="true" style="display: none; overflow:hidden;" boot-modal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header label-danger" ng-if="poDialgueHold === false">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Release Hold</h4>
        </div>
        <div class="modal-header label-warning" ng-if="poDialgueHold === true">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Hold Payment</h4>
        </div>
        <div class="modal-body" ng-if="poDialgueHold === false">
          You are about to release on this payment, are you sure you wish to continue?
        </div>
        <div class="modal-body" ng-if="poDialgueHold === true">
          You are about to place a hold on this payment, are you sure you wish to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
          <button type="button" class="btn red" ng-click="payoutHold(poRowSelected);" ng-if="poDialgueHold === true">Confirm</button>
          <button type="button" class="btn green" ng-click="payoutRelease(poRowSelected);" ng-if="poDialgueHold === false">Confirm</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>