<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsAVSRSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="wsAVSRSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://avs.nupay.co.za/wsAVSR/wsAVSR.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsAVSRSoap"
                contract="wsAVSRSoap" name="wsAVSRSoap" />
            <endpoint address="https://avs.nupay.co.za/wsAVSR/wsAVSR.asmx"
                binding="customBinding" bindingConfiguration="wsAVSRSoap12"
                contract="wsAVSRSoap" name="wsAVSRSoap12" />
        </client>
    </system.serviceModel>
</configuration>