<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XDSConnectWSSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="XDSConnectWSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.web.xds.co.za/xdsconnect/XDSConnectWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="XDSConnectWSSoap"
                contract="XDSConnectWSSoap" name="XDSConnectWSSoap" />
            <endpoint address="https://www.web.xds.co.za/xdsconnect/XDSConnectWS.asmx"
                binding="customBinding" bindingConfiguration="XDSConnectWSSoap12"
                contract="XDSConnectWSSoap" name="XDSConnectWSSoap12" />
        </client>
    </system.serviceModel>
</configuration>