@model Falcon.Areas.User.Models.ChangePasswordModel

@using Falcon.Gyrkin.Library.Extensions
@{
  ViewBag.Title = "Login";
}

<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-key"></i>
      <span class="caption-subject font-red-sunglo bold uppercase">Change Password  </span>
    </div>
  </div>
  <div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form id="changePasswordForm" name="changePasswordForm" class="form-horizontal" method="post" action="/User/Account/ResetPassword">
      <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span>
          Enter your username, current password and new password with confirmation.
        </span>
      </div>
      <input type="hidden" ng-model="token" value="@Html.RequestVerificationToken()" copy-value ng-cloak />
      <div class="form-body">
        <div class="form-group">
          <label class="col-md-3 control-label">Username</label>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Username" name="username" id="username">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Current Password</label>
          <div class="col-md-4">
            <input type="password" class="form-control" placeholder="Current Password" name="currentPassword" id="currentPassword">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">New Password</label>
          <div class="col-md-4">
            <input type="password" class="form-control" placeholder="New Password" name="newPassword" id="newPassword">
          </div>
        </div>
        <div class="form-group last">
          <label class="col-md-3 control-label">Confirm New Password</label>
          <div class="col-md-4">
            <input type="password" class="form-control" placeholder="Confirm New Password" name="confirmNewPassword" id="confirmNewPassword">
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <button type="submit" id="btnSubmit" class="btn green">Submit</button>
            <button type="button" class="btn default">Cancel</button>
          </div>
        </div>
      </div>
    </form>
    <!-- END FORM-->
  </div>
  @section Scripts
  {
    <script>
      jQuery(document).ready(function () {
        Metronic.init();
        Layout.init();
        Login.initChangePassword();
      });
    </script>
  }  @section LoginCSS{
    @Styles.Render("~/LoginCSS")
  }
</div>

