@using Falcon.Gyrkin.Library.Extensions
<body class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <img src="~/assets/img/logo-big.png" alt="" />
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
    <!-- BEGIN LOGIN FORM -->
    <input type="hidden" ng-model="token" value="@Html.RequestVerificationToken()" copy-value ng-cloak />
    <form class="login-form" name="setPassword" ng-submit="setPassword.$valid && submitForm()" ng-controller="PasswordResetController" style="display: block;" novalidate ng-cloak>
      <div ng-show="resetError" class="alert alert-danger">
        <center>{{ error }}</center>
      </div>
      <div class="form-actions clearfix" ng-show="resetError">
        <button type="button" class="pull-left btn btn-primary" ng-click="resetError = false;resetting = false;">
          Retry
        </button>
      </div>
      <div ng-show="!resetError">
        <h3><center>Enter your new password</center></h3>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="Password" ng-model="Password" ng-required="" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password" name="ConfirmPassword" ng-model="ConfirmPassword" ng-required="" data-password-match="Password" />
          </div>
        </div>
        <div class="form-group">
          <div class="alert alert-danger" ng-show="setPassword.ConfirmPassword.$error.match">
              Passwords don't match.
          </div>
        </div>
        <div class="form-actions clearfix">
          <button type="button" class="pull-left btn btn-primary" button-loading="resending" data-loading-text="Sending..." ng-click="resend('@Html.Raw(ViewBag.UserId)')">Resend</button>
          <button type="submit" class="pull-right btn btn-success" button-loading="resetting" data-loading-text="Processing...">
            Change
            <i class="m-icon-swapright m-icon-white"></i>
          </button>
        </div>
      </div>
    </form>
    <!-- END LOGIN FORM -->
  </div>
  <!-- END LOGIN -->
  <div class="copyright">
    2013-2014 &copy; Atlas Finance
  </div>
  @section Scripts
  {
    @Scripts.Render("~/StandardJs")
    <script>
      jQuery(document).ready(function () {
        Metronic.init();
        Layout.init();
        //Login.initOTP();
      });
    </script>
  }
</body>
@section LoginCSS{
  @Styles.Render("~/LoginCSS")
}