<span class="d-block fc-beta fs-zeta"><strong>Click on a previous loan to get further information.</strong></span>

@Html.Partial("_LoanTable")

<p ng-class="{ 'fc-alpha-ltr': !selectedRow }">Select option for loan:</p>

@Html.Partial("_LoanButtons")