<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NormalSearchServicePortBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.compuscan.co.za/NormalSearchService"
                binding="basicHttpBinding" bindingConfiguration="NormalSearchServicePortBinding"
                contract="Atlas.ThirdParty.CS.Bureau.NormalSearchService"
                name="NormalSearchServicePort" />
        </client>
    </system.serviceModel>
</configuration>