<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings configSource="appSettings.config" />

  <connectionStrings configSource="connectionStrings.config" />

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="stdBehaviour">
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
          <serviceTimeouts transactionTimeout="00:08:00" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="1000000" maxReceivedMessageSize="1000000" transferMode="Buffered">
          <security mode="None" />
        </binding>
        <binding name="NormalSearchServicePortBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>

      <netTcpBinding>
        <binding name="portSharingBinding" maxBufferSize="1000000" maxConnections="200" maxReceivedMessageSize="1000000" portSharingEnabled="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="Atlas.ThirdParty.CS.WCF.Implementation.ScorecardServer">
        <endpoint address="http://172.31.75.38:8201/Scorecard" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="Score.HTTP" contract="Atlas.ThirdParty.CS.WCF.Interface.IScorecardServer" />

        <endpoint address="net.tcp://172.31.75.38:8200/Scorecard" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="Score.NetTcp" contract="Atlas.ThirdParty.CS.WCF.Interface.IScorecardServer" />

      </service>
    </services>

    <client>
      <!-- SOAP endpoint -->
      <endpoint address="https://webservices.compuscan.co.za/NormalSearchService" binding="basicHttpBinding" bindingConfiguration="NormalSearchServicePortBinding" contract="Atlas.ThirdParty.CS.Bureau.NormalSearchService" name="NormalSearchServicePort" />
    </client>

  </system.serviceModel>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.7.0" newVersion="3.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpo.v16.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.7.0" newVersion="16.1.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
