<?xml version="1.0" encoding="utf-8" ?>
<appSettings>   
  <!-- CompuScan intgrationX HTTPS SOAP endpoint -->
  <add key="compuscan_intx_endpoint" value="https://webservices.compuscan.co.za/NormalSearchService" />
  <!-- Production: https://webservices.compuscan.co.za/NormalSearchService -->
  <!-- https://webservices-uat.compuscan.co.za/NormalSearchService -->
 
</appSettings>