<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="SchemaUpgrade" value="false"/>

  <!-- Location to place files for client upload/download -->
  <add key="DataSyncPath" value="d:\Atlas\Services\DataSync\Files"/>
  <add key="DBUserName" value="postgres"/>
  <add key="DBPassword" value="s1DT81ChqlVkPZMlRO8b"/>
  <add key="DBDatabase" value="ass"/>
  <add key="DBServer" value="172.31.91.165"/>

  <add key="SeqEndpoint" value="http://172.31.75.41:5341"/>  
</appSettings>
