<?xml version="1.0"<?xml version="1.0" encoding="UTF-8"?>
<behaviors>
  <serviceBehaviors>        
    <behavior name="stdBehaviour">
      <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
      <serviceTimeouts transactionTimeout="00:10:00"/>
    </behavior>
  </serviceBehaviors>
</behaviors>