<?xml version="1.0" encoding="UTF-8"?>
<bindings>
  <netTcpBinding>
    <!-- 5MB buffering limit (for Binary JSON datasets) -->
    <binding name="portSharingBinding" 
      maxBufferSize="5242880" 
      maxReceivedMessageSize="5242880" 
      maxConnections="50" 
      portSharingEnabled="true" 
      receiveTimeout="00:10:00" 
      sendTimeout="00:10:00">
      <security mode="None"/>
    </binding>       
  </netTcpBinding>
</bindings>