<?xml version="1.0" encoding="UTF-8"?>
<services>   
  <!-- Request of data sync files -->
  <service behaviorConfiguration="stdBehaviour" name="Atlas.DataSync.WCF.Implementation.DataRequestServer">
    <endpoint address="net.tcp://localhost:8200/LMSData/Sync/DataFile/Request" 
      binding="netTcpBinding" 
      bindingConfiguration="portSharingBinding" 
      name="netTCPFileRequest" 
      contract="Atlas.DataSync.WCF.Interface.IDataRequestServer"/>
  </service>

  <!-- Data file chunking uploading/downloading -->
  <service behaviorConfiguration="stdBehaviour" name="Atlas.DataSync.WCF.Implementation.DataFileServer">
    <endpoint address="net.tcp://localhost:8200/LMSData/Sync/DataFile/Files" 
      binding="netTcpBinding" 
      bindingConfiguration="portSharingBinding" 
      name="netTCPDataFileRequest" 
      contract="Atlas.DataSync.WCF.Interface.IDataFileServer"/>
  </service>

  <!-- General data sync services -->
  <service behaviorConfiguration="stdBehaviour" name="Atlas.DataSync.WCF.Implementation.DataSyncServer">        
    <endpoint address="net.tcp://localhost:8200/LMSData/Sync/DataServices/Request" 
      binding="netTcpBinding" 
      bindingConfiguration="portSharingBinding" 
      name="netTCPDataSync" 
      contract="Atlas.DataSync.WCF.Interface.IDataSyncServer"/>
  </service>

  <!-- Admin data sync services -->
  <service behaviorConfiguration="stdBehaviour" name="Atlas.DataSync.WCF.Implementation.AdminServer">        
    <endpoint address="net.tcp://localhost:8200/LMSData/Sync/Admin" 
      binding="netTcpBinding" 
      bindingConfiguration="portSharingBinding" 
      name="netTCPAdmin" 
      contract="Atlas.DataSync.WCF.Interface.IAdminServer"/>
  </service>

</services>