<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Green" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Blue" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
        <backColor value="Purple" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Yellow, HighIntensity" />
        <backColor value="Red" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/OnlineService.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="Online Service" />
      <logName value="OnlineService" />
      <!-- Only log warnings and above to the event log -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="OFF" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="10.0.0.22" />
      <param name="RemotePort" value="514" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{HostName}, V %property{FileVer}- %d [%t] %-5level %logger- %m%n%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      <!--<appender-ref ref="ConsoleAppender" />-->
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="UdpAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.5.0" newVersion="3.6.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Magnum" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0" newVersion="2.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.7.0" newVersion="2.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings configSource="ConnectionStrings.config" />
  <appSettings>
    <add key="rabbitmq-address" value="192.168.1.167" />
    <add key="rabbitmq-virtualhost-avs" value="avs" />
    <add key="rabbitmq-virtualhost-atlas-online" value="aol" />
    <add key="rabbitmq-username" value="service" />
    <add key="rabbitmq-password" value="q1w2e3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="noreply" value="noreply@atlasonline.co.za" />
    <add key="bypass-endpoint" value="http://localhost:15197/api/bypass/"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8200/AccountServer" binding="netTcpBinding" bindingConfiguration="AccountServer.NET" contract="AccountService.IAccountServer" name="AccountServer.NET" />
      <endpoint address="http://localhost:8201/AccountServer" binding="basicHttpBinding" bindingConfiguration="AccountServer.HTTP" contract="AccountService.IAccountServer" name="AccountServer.HTTP" />
      <endpoint address="net.tcp://localhost:8200/AuthenticationServer" binding="netTcpBinding" bindingConfiguration="AuthenticationServer.NET" contract="AuthenticationServer.IAuthenticationServer" name="AuthenticationServer.NET" />
      <endpoint address="http://localhost:8201/AuthenticationServer" binding="basicHttpBinding" bindingConfiguration="AuthenticationServer.HTTP" contract="AuthenticationServer.IAuthenticationServer" name="AuthenticationServer.HTTP" />
      <endpoint address="net.tcp://localhost:8200/OrchestrationService" binding="netTcpBinding" bindingConfiguration="OrchestrationService.NET" contract="OrchestrationService.IOrchestrationService" name="OrchestrationService.NET" />
      <endpoint address="http://localhost:8201/OrchestrationService" binding="basicHttpBinding" bindingConfiguration="OrchestrationService.HTTP" contract="OrchestrationService.IOrchestrationService" name="OrchestrationService.HTTP" />
      <endpoint address="net.tcp://localhost:9000/BankVerificationServer" binding="netTcpBinding" bindingConfiguration="BankVerificationServer.NET" contract="BankVerificationServer.IVerificationServer" name="BankVerificationServer.NET" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
          <serviceTimeouts transactionTimeout="00:08:00" />
        </behavior>
        <!-- This only applies to SOAP- used to get SOAP metadata (SoapUI)- DO NOT use in production http://localhost:9000/ -->
        <behavior name="mexHttpGetBehaviour">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9000/ " />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="1000000" maxReceivedMessageSize="1000000" transferMode="Buffered">
          <security mode="None" />
        </binding>
        <binding name="AccountServer.HTTP" />
        <binding name="OrchestrationService.HTTP" />
        <binding name="AuthenticationServer.HTTP" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="portSharingBinding" maxBufferSize="1000000" maxConnections="200" maxReceivedMessageSize="1000000" portSharingEnabled="true">
          <security mode="None" />
        </binding>
        <binding name="mexBinding" maxConnections="2" portSharingEnabled="true">
          <security mode="None" />
        </binding>
        <binding name="AccountServer.NET" sendTimeout="01:00:00">
          <security mode="None" />
        </binding>
        <binding name="OrchestrationService.NET"  sendTimeout="01:00:00">
          <security mode="None" />
        </binding>
        <binding name="AuthenticationServer.NET" sendTimeout="01:00:00" >
          <security mode="None" />
        </binding>
        <binding name="BankVerificationServer.NET" maxReceivedMessageSize="100000" sendTimeout="01:00:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="mexBehaviour" name="Atlas.Online.Web.Service.WCF.Implementation.WebServer">
        <endpoint address="net.tcp://localhost:8200/WebServer" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="WebServer.NET" contract="Atlas.Online.Web.Service.WCF.Interface.IWebService" />
        <endpoint address="http://localhost:8201/WebServer" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="WebServer.HTTP" contract="Atlas.Online.Web.Service.WCF.Interface.IWebService" />
        <endpoint address="net.tcp://localhost:8200/WebServer/mex" binding="netTcpBinding" bindingConfiguration="mexBinding" name="WebServer.NET.MEX" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>