<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Local folder to monitor for incoming scanned files -->
  <add key="MonitorFolder" value="c:\scans\"/>
  
  <!-- Destination types: email or ecm -->
  <add key="SendToType" value="email"/>
  
  <!-- email address or root branch digital cabinet folder opscontrol@atcorp.co.za -->
  <add key="SendToAddress" value="keith@atcorp.co.za"/>
  
</appSettings>