<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Serilog" version="1.5.14" targetFramework="net40" />
  <package id="Topshelf" version="3.3.1" targetFramework="net40" />
  <package id="Topshelf.Serilog" version="3.3.1" targetFramework="net40" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="net40" />
</packages>