<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
   
  <appSettings>
    <add key="rabbitmq-server-address" value="172.31.91.165" />
    <add key="rabbitmq-sms-binding" value="sms" />
    <add key="rabbitmq-username" value="service" />
    <add key="rabbitmq-password" value="lkLS2E4egTMV7FZrMUkl" />  
    <add key="ScorecardServerWCFAddress" value="net.tcp://172.31.75.38:8200/Scorecard" />
  </appSettings>
  
  <connectionStrings>
    <add name="AtlasMain" connectionString="XpoProvider=Postgres;Server=172.31.91.165;Database=atlas_core;User Id=postgres;Password=s1DT81ChqlVkPZMlRO8b;Encoding=UNICODE;" />
    <add name="ass" connectionString="Server=172.31.91.165;Database=ass;User Id=postgres;Password=s1DT81ChqlVkPZMlRO8b;" />    
    <add name="AtlasCore" connectionString="Server=172.31.91.165;Database=atlas_core;User Id=postgres;Password=s1DT81ChqlVkPZMlRO8b;" />
  </connectionStrings>
  
  <system.serviceModel>
  <bindings>
      <basicHttpBinding>
        <binding name="secureHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="Atlas.Server.Implementation.Integration">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="secureHttpBinding"
                  contract="Atlas.Integration.Interface.IIntegration"/>

        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  
</configuration>
