<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="mongodb-host" value="10.0.0.249" />
  <add key="mongodb-port" value="27017" />
  <add key="mongodb-user" value="fp-identifier" />
  <add key="mongodb-pass" value="dfgrt567gnmeiohre" />
  <add key="mongodb-db" value="fingerprint" />
  <add key="mongodb-params" value="connectTimeoutMS=5000" />

  <add key="fp-rabbitmq-address" value="172.31.91.165" />
  <add key="fp-rabbitmq-virtualhost" value="fingerprint" />
  <add key="fp-rabbitmq-username" value="service" />
  <add key="fp-rabbitmq-password" value="lkLS2E4egTMV7FZrMUkl" />
</appSettings>