<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TermRCSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8192/TCC"
                binding="basicHttpBinding" bindingConfiguration="TermRCSoap"
                contract="TermRC.TermRCSoap" name="TermRCSoap" />
        </client>
    </system.serviceModel>
</configuration>