<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NuPayTransactionsServiceSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="NuPayTransactionsServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.nupay.co.za/WsNupayTransactions/NupayTransactionsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="NuPayTransactionsServiceSoap"
                contract="NuPayTransactionsServiceSoap" name="NuPayTransactionsServiceSoap" />
            <endpoint address="https://www.nupay.co.za/WsNupayTransactions/NupayTransactionsService.asmx"
                binding="customBinding" bindingConfiguration="NuPayTransactionsServiceSoap12"
                contract="NuPayTransactionsServiceSoap" name="NuPayTransactionsServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>