<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TermRCSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TermRCSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://196.14.89.40/WS_TermRC_UAT/WS_TermRC.asmx"
                binding="basicHttpBinding" bindingConfiguration="TermRCSoap"
                contract="TermRCSoap" name="TermRCSoap" />
            <endpoint address="http://196.14.89.40/WS_TermRC_UAT/WS_TermRC.asmx"
                binding="customBinding" bindingConfiguration="TermRCSoap12"
                contract="TermRCSoap" name="TermRCSoap12" />
        </client>
    </system.serviceModel>
</configuration>