<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsNaedoSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="wsNaedoSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.nupaytsp.co.za/wsNaedo/wsNaedo.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsNaedoSoap"
                contract="wsNaedoSoap" name="wsNaedoSoap" />
            <endpoint address="https://www.nupaytsp.co.za/wsNaedo/wsNaedo.asmx"
                binding="customBinding" bindingConfiguration="wsNaedoSoap12"
                contract="wsNaedoSoap" name="wsNaedoSoap12" />
        </client>
    </system.serviceModel>
</configuration>