@using Falcon.Gyrkin.Library.Extensions
@using Falcon.Gyrkin.Library.Security.Role
<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu" data-slide-speed="200" data-auto-scroll="true">
      <li class="sidebar-search-wrapper">
        <form class="sidebar-search sidebar-search-bordered" action="extra_search.html" method="POST">
          <a href="javascript:;" class="remove">
            <i class="icon-close"></i>
          </a>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button class="btn submit"><i class="icon-magnifier"></i></button>
            </span>
          </div>
        </form>
      </li>
      <li class="active">
        <a href="index.html">
          Dashboard <span class="selected">
          </span>
        </a>
      </li>
      @*<li>
        <a href="#">
          Mega <span class="arrow">
          </span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="#">
              Layouts <span class="arrow">
              </span>
            </a>
            <ul class="sub-menu">
              <li class="active">
                <a href="layout_horizontal_sidebar_menu.html">
                  Horizontal & Sidebar Menu
                </a>
              </li>
              <li>
                <a href="index_horizontal_menu.html">
                  Dashboard & Mega Menu
                </a>
              </li>
              <li>
                <a href="layout_horizontal_menu1.html">
                  Horizontal Mega Menu 1
                </a>
              </li>
              <li>
                <a href="layout_horizontal_menu2.html">
                  Horizontal Mega Menu 2
                </a>
              </li>
              <li>
                <a href="layout_fontawesome_icons.html">
                  <span class="badge badge-roundless badge-danger">new</span>Layout with Fontawesome Icons
                </a>
              </li>
              <li>
                <a href="layout_glyphicons.html">
                  Layout with Glyphicon
                </a>
              </li>
              <li>
                <a href="layout_full_height_portlet.html">
                  <span class="badge badge-roundless badge-success">new</span>Full Height Portlet
                </a>
              </li>
              <li>
                <a href="layout_full_height_content.html">
                  <span class="badge badge-roundless badge-warning">new</span>Full Height Content
                </a>
              </li>
              <li>
                <a href="layout_search_on_header1.html">
                  Search Box On Header 1
                </a>
              </li>
              <li>
                <a href="layout_search_on_header2.html">
                  Search Box On Header 2
                </a>
              </li>
              <li>
                <a href="layout_sidebar_search_option1.html">
                  Sidebar Search Option 1
                </a>
              </li>
              <li>
                <a href="layout_sidebar_search_option2.html">
                  Sidebar Search Option 2
                </a>
              </li>
              <li>
                <a href="layout_sidebar_reversed.html">
                  <span class="badge badge-roundless badge-warning">
                    new
                  </span>
                  Right Sidebar Page
                </a>
              </li>
              <li>
                <a href="layout_sidebar_fixed.html">
                  Sidebar Fixed Page
                </a>
              </li>
              <li>
                <a href="layout_sidebar_closed.html">
                  Sidebar Closed Page
                </a>
              </li>
              <li>
                <a href="layout_ajax.html">
                  Content Loading via Ajax
                </a>
              </li>
              <li>
                <a href="layout_disabled_menu.html">
                  Disabled Menu Links
                </a>
              </li>
              <li>
                <a href="layout_blank_page.html">
                  Blank Page
                </a>
              </li>
              <li>
                <a href="layout_boxed_page.html">
                  Boxed Page
                </a>
              </li>
              <li>
                <a href="layout_language_bar.html">
                  Language Switch Bar
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              More Layouts <span class="arrow">
              </span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="layout_sidebar_search_option1.html">
                  Sidebar Search Option 1
                </a>
              </li>
              <li>
                <a href="layout_sidebar_search_option2.html">
                  Sidebar Search Option 2
                </a>
              </li>
              <li>
                <a href="layout_sidebar_reversed.html">
                  <span class="badge badge-roundless badge-success">
                    new
                  </span>
                  Right Sidebar Page
                </a>
              </li>
              <li>
                <a href="layout_sidebar_fixed.html">
                  Sidebar Fixed Page
                </a>
              </li>
              <li>
                <a href="layout_sidebar_closed.html">
                  Sidebar Closed Page
                </a>
              </li>
              <li>
                <a href="layout_ajax.html">
                  Content Loading via Ajax
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              Even More <span class="arrow">
              </span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="layout_disabled_menu.html">
                  Disabled Menu Links
                </a>
              </li>
              <li>
                <a href="layout_blank_page.html">
                  Blank Page
                </a>
              </li>
              <li>
                <a href="layout_boxed_page.html">
                  Boxed Page
                </a>
              </li>
              <li>
                <a href="layout_language_bar.html">
                  Language Switch Bar
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>*@   
      @if (Html.HasRole(RoleType.REPORT, HttpContext.Current))
      {
      <text>
        <li>
          <a href="#">
             <i class="fa fa-bar-chart-o"></i> Reports <span class="arrow">
            </span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="/#!/Dashboard/CIReport/">
                CI Report
              </a>              
            </li>
            @*<li>
              <a href="#">
                More Layouts <span class="arrow">
                </span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="layout_sidebar_search_option1.html">
                    Sidebar Search Option 1
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_search_option2.html">
                    Sidebar Search Option 2
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_reversed.html">
                    <span class="badge badge-roundless badge-success">
                      new
                    </span>
                    Right Sidebar Page
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_fixed.html">
                    Sidebar Fixed Page
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_closed.html">
                    Sidebar Closed Page
                  </a>
                </li>
                <li>
                  <a href="layout_ajax.html">
                    Content Loading via Ajax
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                Even More <span class="arrow">
                </span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="layout_disabled_menu.html">
                    Disabled Menu Links
                  </a>
                </li>
                <li>
                  <a href="layout_blank_page.html">
                    Blank Page
                  </a>
                </li>
                <li>
                  <a href="layout_boxed_page.html">
                    Boxed Page
                  </a>
                </li>
                <li>
                  <a href="layout_language_bar.html">
                    Language Switch Bar
                  </a>
                </li>
              </ul>
            </li>*@
          </ul>
        </li>
      </text>
      }
        @*<li>
          <a href="#">
            Mega <span class="arrow">
            </span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="#">
                Layouts <span class="arrow">
                </span>
              </a>
              <ul class="sub-menu">
                <li class="active">
                  <a href="layout_horizontal_sidebar_menu.html">
                    Horizontal & Sidebar Menu
                  </a>
                </li>
                <li>
                  <a href="index_horizontal_menu.html">
                    Dashboard & Mega Menu
                  </a>
                </li>
                <li>
                  <a href="layout_horizontal_menu1.html">
                    Horizontal Mega Menu 1
                  </a>
                </li>
                <li>
                  <a href="layout_horizontal_menu2.html">
                    Horizontal Mega Menu 2
                  </a>
                </li>
                <li>
                  <a href="layout_fontawesome_icons.html">
                    <span class="badge badge-roundless badge-danger">new</span>Layout with Fontawesome Icons
                  </a>
                </li>
                <li>
                  <a href="layout_glyphicons.html">
                    Layout with Glyphicon
                  </a>
                </li>
                <li>
                  <a href="layout_full_height_portlet.html">
                    <span class="badge badge-roundless badge-success">new</span>Full Height Portlet
                  </a>
                </li>
                <li>
                  <a href="layout_full_height_content.html">
                    <span class="badge badge-roundless badge-warning">new</span>Full Height Content
                  </a>
                </li>
                <li>
                  <a href="layout_search_on_header1.html">
                    Search Box On Header 1
                  </a>
                </li>
                <li>
                  <a href="layout_search_on_header2.html">
                    Search Box On Header 2
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_search_option1.html">
                    Sidebar Search Option 1
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_search_option2.html">
                    Sidebar Search Option 2
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_reversed.html">
                    <span class="badge badge-roundless badge-warning">
                      new
                    </span>
                    Right Sidebar Page
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_fixed.html">
                    Sidebar Fixed Page
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_closed.html">
                    Sidebar Closed Page
                  </a>
                </li>
                <li>
                  <a href="layout_ajax.html">
                    Content Loading via Ajax
                  </a>
                </li>
                <li>
                  <a href="layout_disabled_menu.html">
                    Disabled Menu Links
                  </a>
                </li>
                <li>
                  <a href="layout_blank_page.html">
                    Blank Page
                  </a>
                </li>
                <li>
                  <a href="layout_boxed_page.html">
                    Boxed Page
                  </a>
                </li>
                <li>
                  <a href="layout_language_bar.html">
                    Language Switch Bar
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                More Layouts <span class="arrow">
                </span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="layout_sidebar_search_option1.html">
                    Sidebar Search Option 1
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_search_option2.html">
                    Sidebar Search Option 2
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_reversed.html">
                    <span class="badge badge-roundless badge-success">
                      new
                    </span>
                    Right Sidebar Page
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_fixed.html">
                    Sidebar Fixed Page
                  </a>
                </li>
                <li>
                  <a href="layout_sidebar_closed.html">
                    Sidebar Closed Page
                  </a>
                </li>
                <li>
                  <a href="layout_ajax.html">
                    Content Loading via Ajax
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                Even More <span class="arrow">
                </span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a href="layout_disabled_menu.html">
                    Disabled Menu Links
                  </a>
                </li>
                <li>
                  <a href="layout_blank_page.html">
                    Blank Page
                  </a>
                </li>
                <li>
                  <a href="layout_boxed_page.html">
                    Boxed Page
                  </a>
                </li>
                <li>
                  <a href="layout_language_bar.html">
                    Language Switch Bar
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>*@
</ul>
  </div>
</div>