<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="rabbitmq-address" value="localhost"/>
    <add key="rabbitmq-binding" value="nancy_fingerprint_responder_in"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
