@{
  Layout = "~/Views/Reports/Layout.cshtml";
}

<div class="pl-alpha">
  <h6>Part A: Additional Charges</h6>
  <p><strong>Initiation Fee</strong></p>
  <p>An initiation fee is payable by the Borrower for the making of the loan upon the conclusion of the</p>
  <p>Loan Agreement.</p>
  <h6>Part B: Repayment arrangements</h6>
  <p>Payment will be made to Atlas Finance by way of Debit Order and/or NAEDO in terms of the</p>
  <p>Payment Instruction signed by You as selected by You in the Application and will take place on</p>
  <p>the morning of the Repayment Date. You must complete the Payment Instruction as part of the</p>
  <p>Application for Us to collect Your repayments.</p>
  <h6>Part C: Further information on rights and obligations</h6>
  <p>For purposes of this Quotation You should take note of the following fees, charges and values:</p>
  <p>Settlement Value - the amount of the Settlement Value that You will be required to pay to settle</p>
  <p>the total indebtedness to Atlas Finance will consist of the Loan Amount, interest and all other fees,</p>
  <p>charges and/or costs payable in terms of the Loan Agreement and any applicable Law as at the</p>
  <p>date on which repayment is due</p>
  <p>Interest rate &ndash; the interest rate is a fixed interest rate of 5% per month. The interest rate will be</p>
  <p>added to the Total Repayment Amount on your chosen Repayment Date.</p>
  <p>Enforcement expenses/collection costs &ndash; If You fail to repay Atlas Finance in full on the Repayment</p>
  <p>Date, You will have to pay legal expenses and costs on the attorney and client scale, which Atlas</p>
  <p>Finance has incurred in order to enforce its rights under the Loan Agreement and which it may</p>
  <p>recover in accordance with prevailing Law from time to time. Atlas Finance will continue to</p>
  <p>charge interest on any outstanding balance at the rate of interest as shown above. Interest after</p>
  <p>default is calculated daily and applied to the outstanding balance every 30 (thirty) days (or when</p>
  <p>the Settlement Value is paid in full, if earlier). Atlas Finance may also charge all the costs and</p>
  <p>expenses (including tracing agents, debt collecting fees and legal costs) as allowed by the Law and</p>
  <p>reasonably incurred by it in enforcing the Loan Agreement. A Default Administration Fee of R75.00</p>
  <p>will be payable on default.</p>
  <p><strong>DECLARATIONS</strong></p>
  <p>Once You have accepted this Quotation, You acknowledge that You have entered into a Loan Agreement</p>
  <p>with Atlas Finance on the Terms and Conditions which You have read and understood and which</p>
  <p>are to be read together with this Quotation. THIS QUOTE IS BINDING FOR 5 DAYS.</p>
</div>