@{
  Layout = "~/Views/Reports/Layout.cshtml";
}

<div class="pl-alpha">
  <p>I hereby request and authorize Atlas Finance (Proprietary) Ltd, its successors in title or assigns, (herein referred</p>
  <p>to as &ldquo;Atlas Finance&rdquo;) to withdraw funds from my abovementioned account into its account subject to the</p>
  <p>under mentioned conditions:</p>
  <p>A. I hereby authorize Atlas Finance to levy debits against my above-mentioned account (or any</p>
  <p>other bank, or branch office of a bank to which the account may be transferred) ["the debit account"] in</p>
  <p>respect of all amounts which are now or may from time to time in the future be due and payable by me or</p>
  <p>the abovementioned debtor to Atlas Finance arising from my present and future obligations in terms of all</p>
  <p>agreements already entered into or still to be entered into by me.</p>
  <p>B. I hereby authorize my above-named bank to accept all debits levied by Atlas Finance in terms</p>
  <p>of this authorization and to debit the debit account and to regard such debits as if given and signed by me</p>
  <p>personally and any such withdrawals shall have the same effect as if I/we personally made them.</p>
  <p>C. I hereby authorize Atlas Finance to give notice to the above-named bank of the agreement(s)</p>
  <p>referred to in (A.) above, on my behalf, which notice is to be regarded as if having been given by me</p>
  <p>personally.</p>
  <p>D. Should the day on which payment is due fall on a Saturday, Sunday or public holiday , then</p>
  <p>payment will take place on the business day immediately preceding the Saturday, Sunday or public holiday</p>
  <p>concerned. This authorization will not be regarded as a substitution, an alteration or renewal of my obligation</p>
  <p>arising from the preceding business day.</p>
  <p>E. I acknowledge that the withdrawals hereby authorized may be processed my means of the</p>
  <p>computer system known as the ACB Magnetic Tape System and we understand that no voucher will be issued</p>
  <p>to me but details of such withdrawal will be printed on my bank statement or document accompanying my</p>
  <p>bank statement.</p>
  <p>F. I undertake to pay any costs, including bank charges, which may result from this debit order</p>
  <p>authorization.</p>
  <p>G. This debit order authorization will remain in force despite any transfer of the debit account to any</p>
  <p>other branch.</p>
  <p>H. Payment in terms hereof will only cease after I have given 30 days&rsquo; notice in writing sent to Atlas</p>
  <p>Finance and my bank by prepaid registered post, provided that my indebtedness to Atlas Finance in terms of</p>
  <p>the agreements referred to in A has been repaid in full.</p>
  <p>I. I understand that I will not be entitled to any refund of amounts which Atlas Finance has</p>
  <p>withdrawn while this debit order authorization is in force or there exists an outstanding balance owed by</p>
  <p>myself to Atlas Finance. I hereby consent that I shall not be entitled to repayment of any amount withdrawn</p>
  <p>by Atlas Finance while this authorization was valid. I hereby consent that the onus to prove that any amount</p>
  <p>withdrawn in terms hereof, was not due to Atlas Finance shall rest on me.</p>
  <p>J. I hereby acknowledge that I shall not hold Atlas Finance liable for any loss, damages or liability</p>
  <p>that may arise as a result of any default or late payment by Atlas Finance in terms of this debit order</p>
  <p>authorisation.</p>
  <p>K. I hereby indemnify Atlas Finance against all costs, charges, expenses, losses and damages which</p>
  <p>Atlas Finance may suffer as a result of my bank acting in accordance with this debit order authorization and</p>
  <p>against any claim by any party arising from the performance or non-performance, as the case may be, in terms</p>
  <p>of this debit order authorisation.</p>
  <p>L. I hereby indemnify Atlas Finance against any interest, costs or losses and/or other damages that</p>
  <p>Atlas Finance may suffer/incur arising from refusal by me or our above-named bank to accept a debit levied in</p>
  <p>terms of this debit order authorization.</p>
  <p>M. I also indemnify Atlas Finance against any losses and/or damages that Atlas Finance may suffer as</p>
  <p>a result of the execution of this debit order authorization.</p>
  <p>N. I shall be responsible for ensuring that the debit account nominated for deduction in terms of</p>
  <p>debit order authorization shall not be closed or inaccessible for any reason.</p>
  <p>O. I consent that the debit order amount initially stated has to be reduced/increased from time to</p>
  <p>time, Atlas Finance may amend the amount debited against the debit account accordingly. Atlas Finance shall</p>
  <p>furthermore have the right to withdraw from time to time larger/smaller amounts than those authorized in</p>
  <p>terms hereof against the debit account to cover such amounts which are due and payable to Atlas Finance.</p>
  <p>P. When a deduction is requested from the debit account and there are insufficient funds available,</p>
  <p>I hereby agree that Atlas Finance may collect the due amount and partial amounts from the debit account</p>
  <p>on any other date that Atlas Finance may deem necessary, alternatively, Atlas Finance shall be entitled to</p>
  <p>continue requesting such deduction each and every day after the date on which the deduction was originally</p>
  <p>requested, until the full instalment has been collected, in partial deductions or otherwise. I, by my signature</p>
  <p>hereto hereby authorize that the date of deduction may be different to the initial date specified.</p>
  <p>Q. I hereby authorize Atlas Finance immediately to initiate a one-time debit to the debit account</p>
  <p>specified in respect of all amounts owing to Atlas Finance by me, if I exercise my right to cancel the Agreement</p>
  <p>in terms of the Electronic Communications Transactions Act 25 of 2002.</p>
  </div>