<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsNupayReportSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="wsNupayReportSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.nupay.co.za/wsNupayReport/wsNupayReport.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsNupayReportSoap"
                contract="wsNupayReportSoap" name="wsNupayReportSoap" />
            <endpoint address="https://www.nupay.co.za/wsNupayReport/wsNupayReport.asmx"
                binding="customBinding" bindingConfiguration="wsNupayReportSoap12"
                contract="wsNupayReportSoap" name="wsNupayReportSoap12" />
        </client>
    </system.serviceModel>
</configuration>