<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings configSource="appSettings.config" />

  <connectionStrings configSource="connectionStrings.config" />

  <system.serviceModel>
    <client>
      <endpoint address="http://196.14.89.40/WS_TermRC_UAT/WS_TermRC.asmx" binding="basicHttpBinding" bindingConfiguration="TermRCSoap" contract="TermRCSoap" name="TermRCSoap" />

      <endpoint address="https://www.nupaytsp.co.za/wsNaedo/wsNaedo.asmx" binding="basicHttpsBinding" bindingConfiguration="wsNaedoSoap" contract="wsNaedoSoap" name="wsNaedoSoap" />

      <endpoint address="https://www.nupay.co.za/WsNupayTransactions/NupayTransactionsService.asmx" binding="basicHttpBinding" bindingConfiguration="NuPayTransactionsServiceSoap" contract="NuPayTransactionsServiceSoap" name="NuPayTransactionsServiceSoap" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="stdBehaviour">
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
          <serviceTimeouts transactionTimeout="00:08:00" />
        </behavior>

        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="24000000" maxReceivedMessageSize="24000000" transferMode="Buffered">
          <readerQuotas maxArrayLength="24000000" />
          <security mode="None" />
        </binding>

        <binding name="wsNaedoSoap">
          <security mode="Transport" />
        </binding>

        <binding name="TermRCSoap" closeTimeout="00:00:10" openTimeout="00:00:20" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="NuPayTransactionsServiceSoap" />

        <binding name="NormalSearchServicePortBinding">
          <security mode="Transport" />
        </binding>

      </basicHttpBinding>

      <netTcpBinding>
        <binding name="portSharingBinding" maxBufferSize="24000000" maxReceivedMessageSize="24000000" portSharingEnabled="true">
          <security mode="None" />
          <readerQuotas maxArrayLength="24000000" />
        </binding>

        <binding name="BankVerificationServer.NET">
          <security mode="None" />
        </binding>

        <binding name="OrchestrationService.NET">
          <security mode="None" />
        </binding>

      </netTcpBinding>

    </bindings>

    <services>
      <service behaviorConfiguration="stdBehaviour" name="AtlasServer.WCF.Implementation.NPTerminalRC">
        <endpoint address="net.tcp://localhost:8200/NPTerminalRC" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="NPTerminalRC.NET" contract="AtlasServer.WCF.Interface.INPTerminalRC" />
        <endpoint address="http://localhost:8201/NPTerminalRC" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="NPTerminalRC.HTTP" contract="AtlasServer.WCF.Interface.INPTerminalRC" />
      </service>

      <service behaviorConfiguration="stdBehaviour" name="AtlasServer.WCF.Implementation.ASSServer">
        <endpoint address="net.tcp://localhost:8200/ASS" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="ASS.NET" contract="AtlasServer.WCF.Interface.IASSServer" />
        <endpoint address="http://localhost:8201/ASS" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="ASS.HTTP" contract="AtlasServer.WCF.Interface.IASSServer" />
      </service>

      <service behaviorConfiguration="stdBehaviour" name="Atlas.Server.WCF.Implementation.CDV.AVS">
        <endpoint address="net.tcp://localhost:8200/AVS" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="AVS.NET" contract="AtlasServer.WCF.Interface.IAVS" />
        <endpoint address="http://localhost:8201/AVS" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="AVS.HTTP" contract="AtlasServer.WCF.Interface.IAVS" />
      </service>
     
      <service behaviorConfiguration="stdBehaviour" name="Atlas.WCF.Implementation.VerificationServer">
        <endpoint address="net.tcp://localhost:8200/BankVerificationServer" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="Verification.NET" contract="Atlas.WCF.Interface.IVerificationServer" />
        <endpoint address="http://localhost:8201/BankVerificationServer" binding="basicHttpBinding" bindingConfiguration="httpBinding" name="Verification.HTTP" contract="Atlas.WCF.Interface.IVerificationServer" />
      </service>

      <service behaviorConfiguration="stdBehaviour" name="Atlas.WCF.Implementation.AssThirdParty">
        <endpoint address="net.tcp://localhost:8200/AssThirdParty" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="AssThirdParty.NET" contract="Atlas.WCF.Interface.IAssThirdParty" />
      </service>

    </services>
  </system.serviceModel>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.5.0" newVersion="3.6.5.0" />
      </dependentAssembly>     
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v16.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.7.0" newVersion="16.1.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpo.v16.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.7.0" newVersion="16.1.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
