<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Altech NuPay Terminal cloud control interface- SOAP endpoint -->
  <add key="NPTerminalURL" value="http://196.14.89.40/WS_TermRC_UAT/WS_TermRC.asmx" />
  <!-- Altech NAEDO TDP Web services  -->
  <add key="ALNaedoTspURL" value="https://www.nupaytsp.co.za/wsNaedo/wsNaedo.asmx" />
  
  <add key="rabbitmq-avs-address" value="172.31.91.165"/>
  <add key="rabbitmq-avs-vhost" value="avs"/>
  <add key="rabbitmq-avs-username" value="service"/>
  <add key="rabbitmq-avs-password" value="lkLS2E4egTMV7FZrMUkl"/>
  
  <add key="rabbitmq-notification-address" value="172.31.91.165"/>
  <add key="rabbitmq-notification-vhost" value="notification"/>
  <add key="rabbitmq-notification-username" value="service"/>
  <add key="rabbitmq-notification-password" value="lkLS2E4egTMV7FZrMUkl"/>
  
</appSettings>