<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!-- PostgreSQL -->
  <add name="Atlas_Core_Xpo" connectionString="XpoProvider=Postgres;Server=10.0.0.244;User ID=postgres;Password=s1DT81ChqlVkPZMlRO8b;Database=atlas_core" />
  <add name="Ass_NpgSql" connectionString="Server=10.0.0.245;User ID=postgres;Password=s1DT81ChqlVkPZMlRO8b;Database=ass" />

  <!-- Redis -->
  <add name="CacheServer" connectionString="169.254.0.2,abortConnect=false,allowAdmin=true,connectTimeout=5000,name=atlas_cache_server" />
  
</connectionStrings>