<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
	<add key="rabbitmq-server-address" value="172.31.91.165" />
	<add key="rabbitmqavs--binding" value="avs_light"/>
	<add key="rabbitmq-username" value="service" />
	<add key="rabbitmq-password" value="lkLS2E4egTMV7FZrMUkl" />
	<!-- Use 'CompuScan' or 'XDS' to over-ride -->
	<add key="OverrideAVSProvider" value="XDS" />
</appSettings>