<?xml version="1.0" encoding="UTF-8"?>
<bindings>
  <basicHttpBinding>
    <binding name="XDSConnectWSSoap" openTimeout="00:00:10" sendTimeout="00:00:20">
      <security mode="Transport" />          
    </binding>
     
    <binding name="AVSServicePortBinding" openTimeout="00:00:10" sendTimeout="00:00:20">
      <security mode="Transport" />          
    </binding>			
  </basicHttpBinding>
</bindings>