<?xml version="1.0" encoding="UTF-8"?>
<client>
  <endpoint address="https://www.web.xds.co.za/xdsconnect/XDSConnectWS.asmx" binding="basicHttpBinding" bindingConfiguration="XDSConnectWSSoap" contract="XDSClient.XDSConnectWSSoap" name="XDSConnectWSSoap" />
  <endpoint address="https://webservices.compuscan.co.za/AVSService" binding="basicHttpBinding" bindingConfiguration="AVSServicePortBinding" contract="CSClient.AVSService" name="AVSServicePort" />
</client>